<title>
	KGPZ &ndash;
	{{ if eq .model.Search "autoren" }}
		Autoren
	{{ else if ne (len .model.Search) 1 }}
		{{ $agent := index .model.Agents .model.Search }}
		{{ if $agent }}
			{{ index $agent.Names 0 }}
		{{ else }}
			Person nicht gefunden
		{{ end }}
	{{ else }}
		Personen &amp; Körperschaften:
		{{ Upper .model.Search }}
	{{ end }}
</title>
