<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		{{ template "_head" . }}
	</head>

	<body class="w-full"
		hx-ext="response-targets"
		hx-boost="true"
		hx-swap="outerHTML show:window:top"
		hx-select="main"
		hx-target="main"
		hx-target-4="#error-content"
		hx-target-5="#error-content"
	>
		<div class="flex flex-col min-h-screen">
			<!-- Header and menu with constrained width -->
			{{ template "_header" . }}


			<!-- Main content with full width -->
			<main class="flex-1 w-full">
				{{ block "body" . }}
					<!-- Default app body... -->
				{{ end }}
			</main>

			{{ template "_footer" . }}
		</div>

		<!-- Error Modal Web Component -->
		<error-modal></error-modal>

	</body>
</html>
