{{- /* Fragment with specific class for HTMX selection */ -}}
<div class="place-fragment-content px-5 py-3 border-t border-slate-200 bg-stone-50 text-base">
	{{ template "_place_pieces" .model.SelectedPlace }}
</div>
