{{ $model := .model }}
{{ $date := .model.Datum.When }}
<div>
	<a href="/{{- $date.Year -}}">
		Zurück zum Jahr
		{{ $date.Year }}
	</a>
</div>

<div>
	<div class="py-3 text-xl">
		<div>{{ $date.Year }}</div>
		<div>Stück {{ $model.Number.No }}</div>
		<div>{{ WeekdayName $date.Weekday }}, {{ $date.Day }}. {{ MonthName $date.Month }}</div>
	</div>
	{{ template "_inhaltsverzeichnis" . }}
</div>
