<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		{{ template "_head" . }}
	</head>

	<body class="w-full"
		hx-ext="response-targets"
		hx-boost="true"
		hx-swap="outerHTML show:window:top"
		hx-select="main"
		hx-target="main"
		hx-target-4="#error-content"
		hx-target-5="#error-content"
	>
		{{ template "_header" . }}
		<main class="container flex flex-col min-h-screen max-w-(--breakpoint-2xl) mx-auto">
			{{ block "body" . }}
				<!-- Default app body... -->
			{{ end }}
		</main>
		{{ template "_footer" . }}

		<!-- Scroll to Top Button -->
		<scroll-to-top-button></scroll-to-top-button>

		<!-- Error Modal Web Component -->
		<error-modal></error-modal>

	</body>
</html>
