{{- /* Head template for category pieces page */ -}}
<title>Kategorie „{{ index .model.Category.Names 0 }}" {{ .model.Year }} — KGPZ Digital</title>
<meta name="description" content="Beiträge der Kategorie &#8222;{{ index .model.Category.Names 0 | html }}&#8220; aus dem Jahr {{ .model.Year }} in der Königsberger Gelehrten und Politischen Zeitung.">