<div class="flex flex-row justify-center mt-12 mb-8">
	<!-- Schnellfilter Button -->
	<schnellauswahl-button></schnellauswahl-button>

	<search-bar class="w-6/12"></search-bar>

	<navigation-menu
		{{ if .gitCommit }}git-commit="{{ .gitCommit }}"{{ end }}
		{{ if .gitDate }}git-date="{{ .gitDate }}"{{ end }}
		{{ if .gitURL }}git-url="{{ .gitURL }}"{{ end }}
	></navigation-menu>
</div>

