<nav>
	<div>
		<div>Übersicht nach</div>
		<a href="/">Jahrgängen</a>
		<a href="/akteure/">Personen</a>
		<a href="/kategorie/">Betragsarten</a>
		<a href="/ort/">Orten</a>
	</div>
	<a href="/edition/">Geschichte &amp; Edition der KGPZ</a>
	<a href="/zitation/">Zitation</a>
	<a href="/kontakt/">Kontakt</a>
</nav>
